html, body, #root {
  height: 100%;
  background: #f8f8f8;
}

a {
  color: #d309b9;
  text-underline: none;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 5px;
}

h1 {
  margin-bottom: 5px;
}

.Subtitle {
  font-size: 18px;
}

.Sources {
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 14px;
  color: #666;
}

.Sources > div {
  line-height: 1.5em;
}

.ScrollContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  mask-image:
    linear-gradient(0deg, rgba(255,255,255,1), rgba(255,255,255,1) 99%, rgba(255,255,255,0));

}

.ImageGrid {
  max-width: 1000px;
}

.Image-box {
  display: inline-block;
  margin: 50px;
  vertical-align: middle;
  color: #333;
  text-decoration: none;
}

.Image-img {
  max-height: 224px;
  max-width: 224px;
}

.Image-overlay-container {
  position: relative;
}

.Image-caption {
  font-size: 14px;
  color: #bbb;
  max-width: 224px;
  height: 30px;
  opacity: 1;
  transition: opacity 1s;
}

.Image-box-animating:hover .Image-caption {
  opacity: 0;
}
.Image-box-animating:hover .Image-overlay {
  opacity: 1;
}
.Image-box-animating:hover .SegmentationLegend {
  opacity: 1;
}

.Image-box-animating:active .Image-caption {
  opacity: 0;
}
.Image-box-animating:active .Image-overlay {
  opacity: 1;
}
.Image-box-animating:active .SegmentationLegend {
  opacity: 1;
}

.Image-box-animating .Image-caption {
  /*animation: pulse-inverse 8s infinite;*/
}
.Image-box-animating .Image-overlay {
  /*animation: pulse 8s infinite;*/
}
.Image-box-animating .SegmentationLegend {
  /*animation: pulse 8s infinite;*/
}


.Legend-container {
  height: 60px;
}

.Image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 1s;
}

@keyframes pulse {
  0%   { opacity: 0.25; }
  15%  { opacity: 0.25; }
  30%  { opacity: 0.75; }
  45%  { opacity: 0.75; }
  60%  { opacity: 0.75; }
  75%  { opacity: 0.75; }
  90%  { opacity: 0.25; }
  100% { opacity: 0.25; }
}
@keyframes pulse-inverse {
  0%   { opacity: 0.75; }
  15%  { opacity: 0.75; }
  30%  { opacity: 0.25; }
  45%  { opacity: 0.25; }
  60%  { opacity: 0.25; }
  75%  { opacity: 0.25; }
  90%  { opacity: 0.75; }
  100% { opacity: 0.75; }
}

.SegmentationLegend {
  opacity: 0;
  transition: opacity 1s;
}

.MoreButton {
  display: inline-block;
  cursor: pointer;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 10px;
  margin-bottom: 30px;
  font-size: 14px;
  border: 1px solid #eee;
  background: white;
}