html, body, #root {
  height: 100%;
  width: 100%;
  background: #f8f8f8;
}

a {
  color: #d309b9;
  text-underline: none;
}

.App {
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 5px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.Subtitle {
  font-size: 18px;
}

.Sources {
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 14px;
  color: #666;
}

.Sources > div {
  line-height: 1.5em;
}

.ScrollContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  mask-image:
    linear-gradient(0deg, rgba(255,255,255,1), rgba(255,255,255,1) 99%, rgba(255,255,255,0));

}

.ImageGrid {
  max-width: 1200px;
  /*width: 100%;
  overflow-x: hidden;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Image-box {
  display: inline-block;
  margin: 50px;
  vertical-align: middle;
  color: #333;
  text-decoration: none;
}

.Image-rows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Image-img {
  height: 224px;
  opacity: 0;
  transition: opacity 1s;
}

.Image-overlay-container {
  position: relative;
  height: 224px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Image-caption {
  font-size: 18px;
  color: #bbb;
  max-width: 224px;
  margin-top: 5px;
  height: 30px;
  text-decoration: underline;
  opacity: 0;
  transition: opacity 1s;
}

.Image-box-animating:hover .Image-img {
  opacity: 1;
}
.Image-box-animating:hover .Image-caption {
  opacity: 1;
  animation: none;
}
.Image-box-animating:hover .Image-overlay {
  opacity: 0;
  animation: none;
}
.Image-box-animating:hover .Legend-container {
  opacity: 0;
  animation: none;
}

/*.Image-box-animating:nth-child(odd) .Image-caption {
  animation: pulse-inverse 8s infinite;
}
.Image-box-animating:nth-child(odd) .Image-overlay {
  animation: pulse 8s infinite;
}
.Image-box-animating:nth-child(odd) .Legend-container {
  animation: pulse 8s infinite;
}
.Image-box-animating:nth-child(even) .Image-caption {
  animation: pulse 8s infinite;
}
.Image-box-animating:nth-child(even) .Image-overlay {
  animation: pulse-inverse 8s infinite;
}
.Image-box-animating:nth-child(even) .Legend-container {
  animation: pulse-inverse 8s infinite;
}*/


.Image-overlay {
  position: absolute;
  /*top: 0;
  left: 0;
  right: 0;
  bottom: 0;*/
  opacity: 1;
  transition: opacity 1s;
}

@keyframes pulse {
  0%   { opacity: 0.25; }
  15%  { opacity: 0.25; }
  30%  { opacity: 0.75; }
  45%  { opacity: 0.75; }
  60%  { opacity: 0.75; }
  75%  { opacity: 0.75; }
  90%  { opacity: 0.25; }
  100% { opacity: 0.25; }
}
@keyframes pulse-inverse {
  0%   { opacity: 0.75; }
  15%  { opacity: 0.75; }
  30%  { opacity: 0.25; }
  45%  { opacity: 0.25; }
  60%  { opacity: 0.25; }
  75%  { opacity: 0.25; }
  90%  { opacity: 0.75; }
  100% { opacity: 0.75; }
}

.Legend-container {
  opacity: 1;
  transition: opacity 1s;

  height: 60px;
}

.MoreButton {
  display: inline-block;
  cursor: pointer;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 10px;
  margin-bottom: 30px;
  font-size: 14px;
  border: 1px solid #eee;
  background: white;
}

.Note {
  position: fixed;
  
  text-align: left;
  padding: 20px;
  max-width: 650px;
  background: white;
  border: 1px solid #eee;
  z-index: 100;
}

@media only screen and (max-device-width: 480px) {
  .Note {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
  }
}

@media only screen and (min-device-width: 480px) {
  .Note {
    top: 40px;
    right: 40px;
  }
}

.Note-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #333;
  opacity: 0.8;
  z-index: 10;
}

.Note-title {
  font-weight: bold;
  margin-bottom: 20px;
}

.Note-quote {
  padding: 20px;
  padding-bottom: 0;
  font-style: italic;
}

.Note-section > a {
  display: block;
  padding-left: 20px;
  padding-bottom: 20px;
}

.Note-close {
  padding-top: 20px;
  cursor: pointer;
  text-decoration: underline;
}

.ReadMore {
  margin-left: 10px;
  display: inline-block;
  cursor: pointer;
  text-decoration: underline;
}